<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqg_3deD81NuoV4CI3AFBr1VlF4NMgviM</string>
	<key>GCM_SENDER_ID</key>
	<string>864355904753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myEccommerceUser</string>
	<key>PROJECT_ID</key>
	<string>myecommerce-df0a7</string>
	<key>STORAGE_BUCKET</key>
	<string>myecommerce-df0a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864355904753:ios:752bfbcc45b632cfbc0d50</string>
</dict>
</plist>